.services{
    padding: 20px 1px;
    background-color: rgba(173, 216, 230, 0.514);
}
.services h1{
    font-size: 54px;
    color: rgb(245, 106, 106);
    padding-bottom: 20px;
    text-shadow: 5px 5px 10px rgb(245, 106, 106);
}